html {
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: #1e1e1e;
  color: #ccc;
  font-size: 14px;
  line-height: 21px;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: scroll;
}

h2 {
  margin: 0;
  padding: 20px 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #ccc;
  text-decoration: none;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}


a:hover {
  color: #eee;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

#external {
  margin-top: 20px;
}

#project-link:hover {
  color: #e439a1;
}

#about-link:hover {
  color: #ff4040;
}

#contact-link:hover {
  color: #fff740;
}

#stackoverflow-link:hover {
  color: #ff9a40;
}

#github-link:hover {
  color: #4282d3;
}


#wrapper {
  width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

#sidebar {
  float: left;
  width: 200px;
  margin-top: 80px;
  position: fixed;
  text-align: right;
}

#name {
  text-transform: uppercase;
  font-size: 24px;
  color: #ddd;
}

#nav {
  margin-top: 30px;
}

#nav li {
  text-transform: uppercase;
  font-size: 12px;
}

#content {
  width: 520px;
  float: right;
}

#projects {
  padding-top: 20px;
}

#projects li {
  margin-bottom: 50px;
}

#projects h2 {
  font-size: 24px;
  color: #ddd;
  font-weight: normal;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

#projects h2:hover {
  color: #eee;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

#projects p {
  /*margin: 5px 0;*/
}

.screenshot img {
  max-width: 460px;    
  padding: 10px;
  background: #333;
}

#projects a {
  color: #ddd;
  padding: 5px 8px;
  margin-right: 10px;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}

#projects a:hover {
  color: #fff;
  background: #444;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}

#about {
  padding-top: 115px;
}

#contact {
  padding-top: 128px;
}

#contact i {
  position: relative;
  top: 1px;
  padding-right: 5px;
}

#contact a {
  color: inherit !important;
  -webkit-transition: color 0;
  -moz-transition: color 0;
  -o-transition: color 0;
  transition: color 0;
}

#contact li {
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

#contact li:hover {
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.mail:hover {
  color: #ff5d40;
}

.twitter:hover {
  color: #4282d3;
}


::-webkit-scrollbar {
  width: 6px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #444;
}

